<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    .done-style {
      text-decoration: line-through;
      color: lightgray;
    }
  </style>
  <script src="https://unpkg.com/vue@2"></script>
</head>

<body>
  <h2>TO DO List</h2>
  <div id="app">
    <div v-for="todo in todos">
      <label>
        <input type="checkbox" v-model="todo.done">
        <span v-bind:class="{'done-style': todo.done}">{{todo.text}} (완료일: {{todo.doneDate}})</span>
      </label>
    </div>
    <input type="text" v-model.trim="addText" v-on:keyup.enter="addToDo" placeholder="할일">
    <input type="date" v-model="addDate" v-on:keyup.enter="addToDo">
    <p>
      <button v-on:click="cleanToDo">처리완료삭제</button>
      <button v-on:click="sortDate">완료일순정렬</button>
    </p>
    <p>{{remaining}} / {{todos.length}}</p>
  </div>
  <script>
    var vm = new Vue({
      el: '#app',
      data: {
        addText: 'test',
        addDate: '20230115',
        todos: [{
            done: false,
            text: 'bread',
            doneDate: '2023-01-15'
          },
          {
            done: false,
            text: 'coffee',
            doneDate: '2023-02-01'
          },
          {
            done: true,
            text: 'tea',
            doneDate: '2023-01-29'
          },
        ]
      },
      computed: {
        remaining: function () {
          return this.todos.filter(function (val) {
            return val.done;
          }).length;
        }
      },
      methods: {
        addToDo: function () {
          if (this.addText && this.addDate) {
            this.todos.push({
              done: false,
              text: this.addText,
              doneDate: this.addDate
            });
            this.addText = '';
            this.addDate = '';
            console.log(this.$el.querySelector('input[placeholder]:nth-of-type(1)').focus());
            console.log(this.$el.children)
          } else {
            alert('값을 다 입력하세요.')
          }
        },
        cleanToDo: function () {
          this.todos = this.todos.filter(function (val) {
            return val.done == false;
          })
        },
        sortDate: function () {
          this.todos.sort(function (first, last) {
            return parseInt(first.doneDate) - parseInt(last.doneDate)
          })
        }
      }
    })
    console.log(vm)
  </script>
</body>

</html>